body {
    font-family: sans-serif;
    text-align: justify;

}
a{
    text-decoration: none;
    color: black;
}
.line{
    display: flex;
    border-bottom: 2px gold solid;
    margin-bottom: 25px;
    margin-left: 25px;
    width: max-content;
    border-radius: 10px;
}

a:hover{
    color: gold;
}
.text{
    margin-left: 15px;
    text-align: justify;
}
li{
    margin-right: 20px;
    list-style: none;
    border-left: none;
    text-align: justify;
}


h2.dec{
    text-align:center;
    background-color: gold;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.item{
    height: auto;
    width: auto;
    border: solid gold 1px;
    margin-top: 70px;
    margin-right: 800px;
    border-radius: 10px;
}
.wrap{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.list{
    border: solid gold 1px;
    border-radius: 5px;
}
.xxx{
    height: auto;
    width: auto;
}
