.firstwrap{
    border: 1px solid black;
    background-color: silver;
    padding: 25px;
    border-radius: 20px;
}
.secondwrap{
    display: flex;
    align-items: start;
}
.a{
    height: 300px;
    width: 100%;
    background-color: cornflowerblue;
    margin-bottom: 15px;
    border-radius: 10px;
}
.b{
    height: 400px;
    width: 75%;
    background-color: olivedrab;
    border-radius: 10px;
}
.c{
    height: 400px;
    width: 25%;
    background-color: cadetblue;
    margin-left: 15px;
    border-radius: 10px;
}